pipeline/Act_SQLServer_from_DataLake.json
{
	"name": "Act_SQLServer_from_DataLake",
	"properties": {
		"activities": [
			{
				"name": "List Tables in Server",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM dbRetail.INFORMATION_SCHEMA.TABLES\nWHERE table_type = 'BASE TABLE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "acTableList",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTablas",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List Tables in Server",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List Tables in Server').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyTable",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CheckTablesinDataLake",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "acGenericSQLTAble",
									"type": "DatasetReference",
									"parameters": {
										"dbName": "@item().TABLE_SCHEMA",
										"tableName": "@item().TABLE_NAME"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"contador": {
				"type": "String",
				"defaultValue": "1"
			},
			"cont_2": {
				"type": "String"
			}
		},
		"annotations": []
	}
}