pipeline/ActualizarStock.json
{
	"name": "ActualizarStock",
	"properties": {
		"activities": [
			{
				"name": "Look_Input_JSON",
				"description": "Obtiene los valores del JSON que recibe como input durante el trigger",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "JSONInput",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "NOTEBOOK_ActualizarStock",
				"description": "Ejecuta la notebook Actualización_Proveedor_Final en el DataBricks con los datos extraidos en el Lookup",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Look_Input_JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Actualización_proveedor_Final",
					"baseParameters": {
						"DataLakeName": {
							"value": "@pipeline().parameters.nombreDataLake",
							"type": "Expression"
						},
						"DLAccesKey": {
							"value": "@pipeline().parameters.AccesKeyDataLake",
							"type": "Expression"
						},
						"DataContainer": {
							"value": "@pipeline().parameters.nombreContainer",
							"type": "Expression"
						},
						"Producto": {
							"value": "@activity('Look_Input_JSON').output.firstRow.Cod_Producto",
							"type": "Expression"
						},
						"Cantidad": {
							"value": "@activity('Look_Input_JSON').output.firstRow.Cantidad",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"nombreDataLake": {
				"type": "string"
			},
			"AccesKeyDataLake": {
				"type": "string",
				"defaultValue": "datacontainer"
			},
			"nombreContainer": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-12-02T13:40:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}