pipeline/Prueba_de_Request.json
{
	"name": "Prueba_de_Request",
	"properties": {
		"activities": [
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 10
				}
			},
			{
				"name": "Transformaciones_1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Actualización_proveedor_Final",
					"baseParameters": {
						"DataLakeName": {
							"value": "@variables('NombreDataLake')",
							"type": "Expression"
						},
						"DLAccesKey": {
							"value": "@variables('DataLakeAccesKey')",
							"type": "Expression"
						},
						"DataContainer": {
							"value": "@variables('datacontainer')",
							"type": "Expression"
						},
						"OutputContainer": {
							"value": "@variables('outputcontainer')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"executions": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}