pipeline/Prueba_de_Request.json
{
	"name": "Prueba_de_Request",
	"properties": {
		"activities": [
			{
				"name": "Logica_Distribucion",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "List Tables in Data Lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Actualización_proveedor_Final",
					"baseParameters": {
						"DataLakeName": {
							"value": "@variables('NombreDataLake')",
							"type": "Expression"
						},
						"DLAccesKey": {
							"value": "@variables('DataLakeAccesKey')",
							"type": "Expression"
						},
						"DataContainer": {
							"value": "@variables('datacontainer')",
							"type": "Expression"
						},
						"OutputContainer": {
							"value": "@variables('outputcontainer')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "List Tables in Data Lake",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Datalake_tablecheck",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"executions": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}