pipeline/TF1_Bacpac_to_Databricks.json
{
	"name": "TF1_Bacpac_to_Databricks",
	"properties": {
		"activities": [
			{
				"name": "List Tables in Server",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM dbRetail.INFORMATION_SCHEMA.TABLES\nWHERE table_type = 'BASE TABLE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "acTableList",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTablas",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List Tables in Server",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List Tables in Server').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyTable",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "acGenericSQLTAble",
									"type": "DatasetReference",
									"parameters": {
										"dbName": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										},
										"tableName": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "acGenericCSVTable",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@concat(item().TABLE_NAME,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Transformaciones_1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEachTablas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Transformaciones",
					"baseParameters": {
						"DataLakeName": {
							"value": "@variables('NombreDataLake')",
							"type": "Expression"
						},
						"DLAccesKey": {
							"value": "@variables('DataLakeAccesKey')",
							"type": "Expression"
						},
						"DataContainer": {
							"value": "@variables('datacontainer')",
							"type": "Expression"
						},
						"OutputContainer": {
							"value": "@variables('outputcontainer')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Pasar_a_JSON",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Transformaciones_1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pasar_a_JSON",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "List Tables in Data Lake",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "List Tables in Server",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Datalake_tablecheck",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Transformaciones",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "List Tables in Data Lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Transformaciones",
					"baseParameters": {
						"DataLakeName": {
							"value": "@variables('NombreDataLake')",
							"type": "Expression"
						},
						"DLAccesKey": {
							"value": "@variables('DataLakeAccesKey')",
							"type": "Expression"
						},
						"DataContainer": {
							"value": "@variables('datacontainer')",
							"type": "Expression"
						},
						"OutputContainer": {
							"value": "@variables('outputcontainer')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Pasar_a_JSON1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Transformaciones",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pasar_a_JSON",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"NombreDataLake": {
				"type": "String"
			},
			"DataLakeAccesKey": {
				"type": "String"
			},
			"datacontainer": {
				"type": "String",
				"defaultValue": "datacontainer"
			},
			"outputcontainer": {
				"type": "String",
				"defaultValue": "outputcontainer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-11-23T14:16:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}